@tailwind base;
@tailwind components;
@tailwind utilities;


.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.answer {
    max-height: 500px; /* Adjust based on your content's max height */
    opacity: 1;
}